<nav>
    <div>Shopkeeper's inventory</div>
    <a href="">Home</a>
    <form method="get" action="">
        <input type="text" name="search-items" id="search-items" placeholder="search items...">
        <button>
            <img src="/utils/magnify.svg" width="20" height="20">
        </button>
    </form>
</nav>